/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: small;
    font-color: #000;
    background-color: #fff;
}

.img-list {
    list-style-type:none;
}

.btn-card,
.btn-card:active,
.btn-card:visited,
.btn-card:focus,
.l-container .nav-pills .nav-link.active {
    background-color: #818182;
    border-color: #818182;
    color: white;

}

.btn-card:hover, .l-container .nav-pills .nav-link.active:hover {
    background-color: #bebebf;
    color: white;
}

.l-container .nav-pills .nav-link {
    color: #818182;
}

.nav {
    padding-top: 5px;
    padding-bottom: 50px
}

.l-container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}

.l-header {
    padding: 15px 0px;
}

.header {
    text-align: center;
    background-color: #9ce3f7;
}

.error-explanation {
    color: #f00;
    padding-top: 10px;
}

.l-image {
    padding-top: 10px;
    max-width: 400px;
}

.image {
    text-align: center;
}

.card {
    width: 450px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
