
<body id="home">
<div id="container">
  <div id="header">
    <h1>Welcome to Image Sharer!</h1>
  </div>

  <div id="content">
    <!--<a class="btn btn-default" href="application_img_link_submission_path" role="button">Link</a>-->
    <%= link_to 'Save an Image', new_image_path, class: "btn btn-primary" %>
  </div>
</div>

</body>

