<body class="home">
  <div class="l-container">
    <div class="l-header header">
      <h1>Welcome to Image Sharer!</h1>
    </div>

    <nav class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to 'Save an Image', new_image_path, class: "nav-link active" %>
      </li>
    </nav>

    <ul class="content img-list">
      <% @images.each do |img| %>
          <li><%=image_tag(img.url, class: "image") %></li>
      <% end %>
    </ul>
  </div>
</body>


