<body class="wrapper">
  <div class="container">
    <div class="l-header header">
      <h1>Welcome to Image Sharer!</h1>
    </div>

    <nav class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to 'Save an Image', new_image_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', "#", class:"nav-link"%>
      </li>
    </nav>

    <ul class="content img-list">
      <% @images.each_slice(2) do |duo| %>
        <div class="card-deck">
          <% duo.each do |img| %>
              <div class="card">
                <div class="card-body d-flex flex-column">
                  <div class="image">
                    <%=image_tag(img.url, class: "l-image") %>
                  </div>
                  <%= link_to 'Go To Image', img.url, class: "btn btn-sml btn-card mt-auto" %>
                </div>
              </div>
          <% end %>
         </div>
      <% end %>
    </ul>
  </div>
</body>

<div class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="container">
    <p class="navbar-text">© 2019 - Site Built By Angela Wang. </p>
  </div>
</div>


