<div class="container">
  <div class="header">
    <h1>All Images </h1>
  </div>

  <div class="content">
    <%= link_to 'Home', root_path %>
  </div>


  <div class="content">
    <% @images.each do |img| %>
        <div class="image">
          <%=image_tag(img.url) %>
        </div>
    <% end %>
  </div>
</div>
