
<div class="l-container">
  <div class="l-header header">
    <h1>Submit an image </h1>
  </div>

  <nav class="nav">
    <%= link_to 'Home', root_path, class:"nav-link active"%>
  </nav>

  <div class="new-image">
    <%= render 'form' %>
  </div>
</div>
