<body class="wrapper">
  <div class="container">
    <div class="l-header header">
      <h1>Submit an image </h1>
    </div>

    <%= render 'mainnav' %>

    <div class="new-image">
      <%= render 'form' %>
    </div>
  </div>
</body>

<div class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="container">
    <p class="navbar-text">© 2019 - Site Built By Angela Wang. </p>
  </div>
</div>
