<div class="l-container">
  <div class="l-header header">
    <h1>Your image: </h1>
  </div>

  <nav class="nav">
    <%= link_to 'Back', new_image_path, class:"nav-link active"%>
    <%= link_to 'Home', root_path, class:"nav-link active"%>
  </nav>

  <%=image_tag(@image.url, class: "image") %>
</div>
