<body class="wrapper">
  <div class="container">
    <div class="l-header header">
      <h1>Your image: </h1>
    </div>

    <%= render 'mainnav' %>

    <div class="image-container img-saved">
      <%=image_tag(@image.url, class:'image') %>
    </div>

    <div class="img-tags-header">Tags:</div>
    <div class="img-tags">
      <p><% @image.tag_list.each do |tag| %>
            <span class="card__tag">
              <%= link_to tag, images_path(tag: tag),  class:"card__tag-link"%>
            </span>
        <% end %></p>
    </div>
    <div class="btn-group" role="group">
      <%= link_to 'Delete', image_path(@image), method: :delete,
                  data: { confirm: 'Are you sure?' }, class: "btn btn-sml card__btn" %>
    </div>
  </div>
</body>

<div class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="container">
    <p class="navbar-text">© 2019 - Site Built By Angela Wang. </p>
  </div>
</div>

