<div class="l-container">
  <div class="l-header header">
    <h1>Your image: </h1>
  </div>

  <div class="content">
    <%= link_to "Back", new_image_path %>
  </div>

  <%=image_tag(@image.url, class: "image") %>
</div>
