<div class="l-container">
  <div class="l-header header">
    <h1>Your image: </h1>
  </div>

  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <%= link_to 'Back', new_image_path, class:"nav-link active"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Home', root_path, class:"nav-link active"%>
    </li>
    <li class="nav-item">
      <%= link_to 'About', "#", class:"nav-link"%>
    </li>
  </ul>

  <%=image_tag(@image.url, class: "image") %>
</div>
